@font-face {
  font-family: "Futura";
  src: url(./zenith-assets/fonts/futura-book.ttf) format(ttf);
  src: url(./zenith-assets/fonts/futura-heavy.ttf) format(ttf);
}
body,
body * {
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 5rem;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.header__logo {
  height: 2rem;
  width: 10rem;
}
.header__logo img {
  width: 100%;
}
.header-navicon {
  display: unset;
  width: 2rem;
}
.header-navicon img {
  width: 100%;
}
.header-nav {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10rem;
  background: #ffffff url("./zenith-assets/images/backgrounds/hero-bg-texture.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
}
.hero__header {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #393939;
  max-width: 60%;
  align-self: flex-start;
  margin-bottom: 80px;
  margin-top: 80px;
}
.hero__card-img {
  width: 100%;
  max-width: 764px;
  margin-bottom: 80px;
}
.hero__card-img img {
  width: 100%;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.features {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__heading {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  background: linear-gradient(225.31deg, #ab00ff -34.29%, #007bff 136.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
}
.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.features__img {
  width: 100%;
}
.features__img img {
  width: 100%;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.features-card {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  height: 105px;
  padding: 10px;
  margin-bottom: 1.5rem;
}
.features-card p {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.447369px;
  color: #393939;
  text-align: left;
  width: 60%;
}
.features-card img {
  height: 100%;
}

.integrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10rem;
}
.integrations__heading {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  background: linear-gradient(225.31deg, #ab00ff -34.29%, #007bff 136.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
}
.integrations__products {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}
.integrations__products__comps {
  padding: 1rem;
}
.integrations__products__comps img {
  width: 115px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  background: url(./zenith-assets/images/backgrounds/footer-bg-textures-combined.png) no-repeat center;
  background-size: 100% 100%;
}
.footer__heading {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #ffffff;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  width: 33%;
}
.footer__form--feild {
  border: none;
  background-color: #a681ff;
  margin-bottom: 1.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  width: 100%;
}
.footer__form--select {
  background: no-repeat 95% 50%;
  background-image: url(./zenith-assets/images/backgrounds/footer-form-arrow.png), linear-gradient(#a681ff, #a681ff);
  border: none;
  background-color: #a681ff;
  margin-bottom: 1.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.footer__form--btn {
  background-color: #ffffff;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.footer__links {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.447369px;
  color: #393939;
  margin-bottom: 80px;
  color: #ffffff;
  justify-self: flex-end;
  align-self: flex-end;
  list-style: none;
  text-align: right;
}

.footer__form--feild ::placeholder {
  position: absolute;
  left: 20px;
  color: #ffffff;
}

@media (min-width: 1100px) {
  .header-navicon {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav__nav-items, .header-nav__cta-btn {
    font-variant: small-caps;
    margin-right: 1rem;
  }
  .header-nav__nav-items a, .header-nav__cta-btn a {
    text-decoration: none;
    font-family: "Futura";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.447369px;
    color: #393939;
  }
  .header-nav__cta-btn {
    background-image: linear-gradient(225.31deg, #ab00ff -34.29%, #007bff 136.11%);
    width: 8rem;
    height: 2.6rem;
    border-radius: 1.3rem;
  }
  .header-nav__cta-btn a {
    color: white;
    padding-bottom: 8px;
  }

  .hero {
    background-image: url(./zenith-assets/images/backgrounds/hero-bg-cards.png), url(./zenith-assets/images/backgrounds/hero-bg-texture.png);
  }

  .integrations__products :nth-child(1) {
    order: 1;
  }

  .integrations__products :nth-child(2) {
    order: 2;
  }

  .integrations__products :nth-child(3) {
    order: 5;
  }

  .integrations__products :nth-child(4) {
    order: 4;
  }

  .integrations__products :nth-child(5) {
    order: 3;
  }

  .features__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features-card {
    max-width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
