// BASE
@font-face {
  font-family: "Futura";
  src: url(./zenith-assets/fonts/futura-book.ttf) format(ttf);
  src: url(./zenith-assets/fonts/futura-heavy.ttf) format(ttf);
}

$primary-grad: linear-gradient(225.31deg, #ab00ff -34.29%, #007bff 136.11%);
$card-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
$img-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
$sect-margin: 10rem;
$text-color: #393939;
$heading: 2rem;
$body-font: 17px;

@mixin heading {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
}
@mixin grad-text {
  // background: -webkit-linear-gradient(#eee, #333);
  background: $primary-grad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin body-text {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.447369px;
  color: #393939;
}
body,
body * {
  margin: 0;
  box-sizing: border-box;
}

// LAYOUT
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// BLOCKS
.header {
  width: 100%;
  height: 5rem;

  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  &__logo {
    height: 2rem;
    width: 10rem;
    img {
      width: 100%;
    }
  }
  &-navicon {
    display: unset;
    width: 2rem;
    img {
      width: 100%;
    }
  }
  &-nav {
    display: none;
    &__navitems {
    }
    &__cta-btn {
    }
  }
}

.hero {
  @include center;
  height: 30rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: $sect-margin;
  background: #ffffff
    url("./zenith-assets/images/backgrounds/hero-bg-texture.png") no-repeat
    center;
  background-size: 100% 100%;
  width: 100%;
  &__header {
    @include heading();
    color: $text-color;
    max-width: 60%;
    align-self: flex-start;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  &__card-img {
    width: 100%;
    max-width: 764px;
    img {
      width: 100%;
      box-shadow: $img-shadow;
      border-radius: 7px;
      // object-fit: cover;
    }
  }
}
.features {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: $sect-margin;
  @include center();
  &__heading {
    @include heading();
    @include grad-text();
    margin-bottom: 80px;
  }
  &__container {
    @include center();
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      box-shadow: $img-shadow;
      border-radius: 7px;
    }
  }
}
.features-card {
  box-shadow: $card-shadow;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 335px;
  height: 105px;
  padding: 10px;
  margin-bottom: 1.5rem;
  p {
    @include body-text();
    text-align: left;
    width: 60%;
  }
  img {
    height: 100%;
  }
}
.integrations {
  @include center();
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: $sect-margin;
  &__heading {
    @include heading();
    @include grad-text();
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    img {
      padding: 2rem;
      width: 8rem;
    }
  }
}
.footer {
  &__heading {
  }
  &__form {
    &-input {
    }
    &-btn {
    }
  }
  &__links {
  }
}
