// BASE
@font-face {
  font-family: "Futura";
  src: url(./zenith-assets/fonts/futura-book.ttf) format(ttf);
  src: url(./zenith-assets/fonts/futura-heavy.ttf) format(ttf);
}

$primary-grad: linear-gradient(
  225.31deg,
  rgba(171, 0, 255) -34.29%,
  rgba(0, 123, 255) 136.11%
);
$card-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
$img-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
$sect-margin: 10rem;
$text-color: #393939;
$heading: 2rem;
$body-font: 17px;

@mixin heading {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
}
@mixin grad-text {
  // background: -webkit-linear-gradient(#eee, #333);
  background: $primary-grad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin body-text {
  font-family: "Futura";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.447369px;
  color: #393939;
}
body,
body * {
  margin: 0;
  box-sizing: border-box;
}

// LAYOUT
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin content-margin {
  padding-left: 5vw;
  padding-right: 5vw;
}

// BLOCKS
.header {
  width: 100%;
  height: 5rem;
  @include content-margin();
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  &__logo {
    height: 2rem;
    width: 10rem;
    img {
      width: 100%;
    }
  }
  &-navicon {
    display: unset;
    width: 2rem;
    img {
      width: 100%;
    }
  }
  &-nav {
    display: none;
  }
}

.hero {
  @include center;
  // height: 30rem;
  @include content-margin();
  margin-bottom: $sect-margin;
  background: #ffffff
    url("./zenith-assets/images/backgrounds/hero-bg-texture.png") no-repeat
    center;
  background-size: 100% 100%;
  width: 100%;
  &__header {
    @include heading();
    color: $text-color;
    max-width: 60%;
    align-self: flex-start;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  &__card-img {
    width: 100%;
    max-width: 764px;
    margin-bottom: 80px;
    img {
      width: 100%;
      box-shadow: $img-shadow;
      border-radius: 7px;
    }
  }
}
.features {
  @include content-margin();
  margin-bottom: $sect-margin;
  @include center();
  &__heading {
    @include heading();
    @include grad-text();
    margin-bottom: 80px;
  }
  &__container {
    @include center();
    margin-bottom: 80px;
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      box-shadow: $img-shadow;
      border-radius: 7px;
    }
  }
}
.features-card {
  box-shadow: $card-shadow;
  border-radius: 7px;
  @include row();
  width: 100%;
  max-width: 400px;
  height: 105px;
  padding: 10px;
  margin-bottom: 1.5rem;
  p {
    @include body-text();
    text-align: left;
    width: 60%;
  }
  img {
    height: 100%;
  }
}
.integrations {
  @include center();
  @include content-margin();
  margin-bottom: $sect-margin;
  &__heading {
    @include heading();
    @include grad-text();
    margin-bottom: 80px;
  }
  &__products {
    width: 100%;
    @include row();
    justify-content: center;
    &__comps {
      padding: 1rem;
      img {
        width: 115px;
      }
    }
  }
}

.footer {
  @include center();
  @include content-margin();
  background: url(./zenith-assets/images/backgrounds/footer-bg-textures-combined.png)
    no-repeat center;
  background-size: 100% 100%;
  &__heading {
    @include heading();
    margin-top: 80px;
    margin-bottom: 80px;
    color: #ffffff;
  }
  &__form {
    @include center();
    margin-bottom: 80px;
    width: 33%;
    &--feild {
      border: none;
      background-color: #a681ff;
      margin-bottom: 1.5rem;
      height: 3rem;
      border-radius: 1.5rem;
      width: 100%;
    }
    &--select {
      background: no-repeat 95% 50%;
      background-image: url(./zenith-assets/images/backgrounds/footer-form-arrow.png),
        linear-gradient(#a681ff, #a681ff);
      border: none;
      background-color: #a681ff;
      margin-bottom: 1.5rem;
      height: 3rem;
      border-radius: 1.5rem;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &--btn {
      background-color: #ffffff;
      width: 8rem;
      height: 3rem;
      border-radius: 1.5rem;
    }
  }

  &__links {
    @include body-text();
    margin-bottom: 80px;
    color: #ffffff;
    justify-self: flex-end;
    align-self: flex-end;
    list-style: none;
    text-align: right;
  }
}
.footer__form--feild ::placeholder {
  position: absolute;
  left: 20px;
  color: #ffffff;
}
// MEDIA
@media (min-width: 1100px) {
  .header-navicon {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    &__nav-items,
    &__cta-btn {
      a {
        text-decoration: none;
        @include body-text();
      }
      font-variant: small-caps;
      margin-right: 1rem;
    }
    &__cta-btn {
      background-image: $primary-grad;
      width: 8rem;
      height: 2.6rem;
      border-radius: 1.3rem;
      a {
        color: white;
        padding-bottom: 8px;
      }
    }
  }
  .hero {
    background-image: url(./zenith-assets/images/backgrounds/hero-bg-cards.png),
      url(./zenith-assets/images/backgrounds/hero-bg-texture.png);
  }
  .integrations__products :nth-child(1) {
    order: 1;
  }
  .integrations__products :nth-child(2) {
    order: 2;
  }
  .integrations__products :nth-child(3) {
    order: 5;
  }
  .integrations__products :nth-child(4) {
    order: 4;
  }
  .integrations__products :nth-child(5) {
    order: 3;
  }
  .features__container {
    width: 100%;
    @include row();
  }

  .features-card {
    max-width: 30%;
  }
}
